header {
    height: 100px;
}

.card {
    min-height: 340px;
}

.more-details-modal {
    display: none;
    height: 300px;
    width: 200px;
    background-color:brown;
}

.header {
    height: 100%;
}

.card__container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1.5fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 220px;
    margin-top: 15px;
}

.active {
    background-color: chocolate;
}

.card__pagination-link {
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.pagination-item {
    padding: 20px;
}

.icon-bar {
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(5, 0.1fr);
    grid-column-gap: 15px;
    grid-row-gap: 10px;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
    border-radius: 10px;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    margin-left: 20px;
    margin-top: 10px;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

.search__container {
    width: 100%;
    padding: 0px 10px;
}

.search__container-btn {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: baseline;
	align-content: center;
}

.search__container-input {
    padding: 15px;
}